body{
	padding-top: 4.5rem;
}

#tablaPintores{
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
}

#tablaPintores tr{
	padding: 3em;
	border: 1px solid black;
}

#tablaPintores td{
	padding: 1em;
	border: 1px solid black;
}
#tablaPintores th{
	padding: 1em;
	border: 1px solid black;
}